.App {
  text-align: center;
}
.g-signin2{
  padding-bottom: 5px
}
#msgBox{
  width: 850px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
#msg{
  padding:7px;
}
#b1{
  margin:10px;
  vertical-align:top;
}
#chatbox{ 
  width: 840px;
  margin-top: 40px;
  height:400px;
  background-color: rgba(190, 190, 190, .75);
  display: flex;
}
#log{
  width:440px;
  padding-top: 1px;
  flex: 1;
  border-color: white;
  overflow: auto;
}
#welcome{
  font-size: 30px;
  font-weight: bold;
  color:white;
  margin:auto;
}
img{
  width:50px;
  height:50px;
}
#text1{ 
  font-size: 20px;
  text-Align:left;
}
#userList{
  border:solid;
  width: 200px;
  text-Align:left;
  list-style-type: none;
}
body{
  background: url("https://images3.alphacoders.com/235/thumb-350-235575.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}