.App {
  text-align: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#msgBox{
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
#msg{
  margin-left:30px;
}
#b1{
  margin:10px;
  vertical-align:top
}
#chatbox{
  width: 500px;
  margin-top: 40px;
  border:solid;
  height:400px;
  overflow: auto;
}
#text{
  padding-right:20px;
  padding-left:20px;
}
