.App {
  text-align: center;
}
.g-signin2{
  padding-bottom: 5px
}
#msgBox{
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
#msg{
  margin-left:30px;
}
#b1{
  margin:10px;
  vertical-align:top
}
#chatbox{
  width: 500px;
  margin-top: 40px;
  border:solid;
  height:400px;
  overflow: auto;
}
#text{
  padding-top: 1px;
}
