.App {
  text-align: center;
}
.g-signin2{
  padding-bottom: 5px
}
#msgBox{
  width: 850px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
#msg{
  padding:7px;
}
#b1{
  margin:10px;
  vertical-align:top;
}
#chatbox{ 
  width: 840px;
  margin-top: 40px;
  height:400px;
  overflow: auto;
  background-color: rgba(190, 190, 190, .75);
}
#log{
  padding-top: 1px;
}
#welcome{
  font-size: 30px;
  font-weight: bold;
  color:white;
  margin:auto;
}
img{
  width:50px;
  height:50px;
}
#text1{ 
  font-size: 20px;
  width: 100%;
  text-Align:left;
}
#users{
  border:solid;
}
body{
  background: url("http://www.publicdomainpictures.net/pictures/30000/velka/cat-on-black-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}