.App {
  text-align: center;
}
.g-signin2{
  padding-bottom: 5px
}
#msgBox{
  width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
#msg{
  margin-left:30px;
  border-radius: 25px;
  padding:7px;
}
#b1{
  margin:10px;
  vertical-align:top;
}
#chatbox{
  border-radius: 25px;
  width: 700px;
  margin-top: 40px;
  height:400px;
  overflow: auto;
  background-color: rgba(190, 190, 190, .75);
}
#text{
  padding-top: 1px;
}
#welcome{
  font-size: 30px;
  font-weight: bold;
  color:white;
  margin:auto;
}
img{
  width:50px;
  height:50px;
}
#text1{
  font-size: 20px;
}